@media only screen and (min-width: 601px) and (max-width: 1920px) {
    .header__subtitle_mobile {
      display: none;
    }
}

  @media only screen and (min-width: 100px) and (max-width: 600px) {

  .header__subtitle{
    display: none;
    }
  }

  @media only screen and (min-width: 1453px) and (max-width: 1920px) {

  .table6Cards {
  margin: 20% 29.18%;
  }

  .table10Cards {
  margin: 20% 15%;
  }

  .header__title {
    font-size: 74px;
    margin-bottom: 50px;
  }

  .header__subtitle {
    font-size: 40px;
    margin-bottom: 250px;
  }

  .choice {
    margin-left: 153px;
    font-size: 60px;
    font-weight: 550;
  }

  .choice__level {
    padding: 0.7%;
  }

  .choice__btn {
    font-size: 42px;
    width: 402px;
    height: 110px;
  }

  .cards__1 {
    left: 1090px;
    top: 530px;
  }

  .cards__2 {
    left: 1270px;
    top: 548px;
  }

}

  @media (max-width: 1743px) {

  .table6Cards {
    margin: 20% 25%;
  }

  .table10Cards {
    margin: 20% 8.349%;
  }

}

  @media (max-width: 1452px) {

    .choice {
      margin-top: 10px;
    }

  .cards__1 {
    left: 890px;
    top: 530px;
  }

  .cards__2{
    left: 1070px;
    top: 548px;
  }

  .table {
    margin-top:23.56%;
  }

  .table6Cards {
    margin: 11.04% 16.668%;
  }

  .table10Cards{
    margin: 10.95% 0.1%;
  }

}

  @media (max-width: 1240px) {

  .table {
    margin:20% 20%;
  }

  .table10Cards {
    margin: 10% 1% 0 1%;
  }

  .header__subtitle {
    margin-bottom: 10%;
  }

  .choice__level {
    padding-top: 2%;
  }

  .choice__btn {
    margin-bottom:100%;
  }

  .card {
    width:140px;
    height:218px;
  }

  .bug {
    background: url(images/bug800.png);
    border-radius: 5px;
  }

  .gameOver {
    background: url(images/gameOver800.png);
    border-radius: 5px;
  }

  .cover {
    background: url(images/card800.png);
  }

  .table6Cards {
   margin: 156px 19% 0 19%;
  }

  .table10Cards {
    margin: 10% 0;
  }

}

@media (max-width: 1045px) {


  .choice{
    margin-left: 90px;
  }

  .choice__level {
    padding: 0;
  }

  .cards__1 {
    left: 540px;
    top: 250px;
    transform: rotate(6deg)
  }

  .cards__2 {
    left: 660px;
    top: 280px;
    transform: rotate(23deg)
  }

  .choice__radio:checked+label::before {
    content: '';
    position: absolute;
    top: 10%;
    left: -50px;
    width: 20px;
    height: 20px;
  }



}

  @media only screen and (min-width: 875px) and (max-width: 1045px) {

  .header {
    margin: 60px auto  130px 60px;
  }

  .table {
    margin: 200px 23% 0 23%;
  }

  .table6Cards {
    margin: 15% 9.3% 0 9.3%
  }

  .table10Cards {
    margin: 10% 10.1% 0 10.1%;
  }

  .card {
      width: 115px;
      height: 180px;
  }

  .cover {
      background:url(images/card600.png);
  }

  .bug {
      background:url(images/bug600.png);
  }

  .gameOver {
      background:url(images/gameOver600.png);
  }

  .table6Cards {
    margin: 156px 25% 0 25%;
  }

  .table10Cards {
      margin: 10% 10.2%;
  }

}

  @media only screen and (min-width: 660px) and (max-width: 874px) {

  body {
    text-align: center;
  }

  .cards {
  display: none;
  }

  .header {
    margin: 90px auto;
  }

  .header__title {
    font-size: 42px;
  }

  .header__subtitle {
    font-size: 14px;
    margin-bottom: 150px;
  }

  .choice__level {
    font-size: 38px;
    margin-bottom: 8px;
  }

  .choice {
  margin: auto;
  }

  .choice__radio:checked+label::before {
    top: 2%;
    right: 172px;
  }

  .choice__btn {
    font-size: 30px;
    padding: 16px;
    width: 300px;
    height: 85px;
    margin: 90px auto;
  }

  .table {
    margin: 30% 12.48%;
  }

  .table10Cards {
    margin-top: 5%;
  }

  .card {
    width: 140px;
    height: 217px;
  }

  .cover {
    background: url(images/card800.png);
  }

  .bug {
    background: url(images/bug800.png);
  }

  .gameOver {
      background: url(images/gameOver800.png);
  }

}

  @media (max-width: 659px) {

  body {
    text-align: center;
  }

  .header {
    margin: 50px auto;
  }

  .header__title {
    font-size:30px;
  }

  .choice {
  margin: auto;
  }

  .choice__level {
    font-size: 26px;
    margin-bottom: 0;
  }

  .choice__radio:checked+label::before {
    top: 2%;
    right: 120px;
  }

  .choice__btn {
    font-size: 28px;
    padding: 16px 40px 16px 32px;
    width: 230px;
    height: 75px;
    font-size: 24px;
    margin: 70px auto;
  }

    .card {
    width: 116px;
    height: 180px;
  }

  .cards {
    display: none;
  }

  .cover {
    background: url(images/card600.png);
  }

  .bug {
    background: url(images/bug600.png);
  }

  .gameOver {
    background: url(images/gameOver600.png);
  }

  .table {
    margin: 30% 7.52%;
  }

  .table10Cards {
    margin: 5% 7.52%;
  }

}

  @media only screen and (min-width: 350px) and (max-width: 500px) {

  .header {
    margin: 60px auto;
  }

  .header__title {
    font-size: 26px;
    line-height: 33px;
  }

  .header__subtitle {
    font-size: 12px;
  }

  .choice__level {
    font-size: 24px;
    padding: 0;
  }

  .choice__btn {
    font-size: 22px;
    padding: 16px 32px;
    margin: 15% 0 100% 0;
    width: 220px;
    height: 65px;
  }

  .choice__radio:checked+label::before {
    top: 4px;
    right: 100px;
    width: 15px;
    height: 15px;
  }

  .card {
    width: 96px;
    height: 150px;
  }

  .cover {
    background: url(images/card320.png);
  }

  .bug {
    background: url(images/bug320.png);
  }

  .gameOver {
    background: url(images/gameOver320.png);
  }

  .table {
    margin: 30% 7.54%;
  }

  .table10Cards {
    margin: 5% 7.54%;
  }

}

@media only screen and (min-width: 100px) and (max-width: 349px) {

  .header {
    margin: 30px 0;
  }

  .header__title {
    line-height: 45px;
    margin-bottom: 40px;
  }

  .table {
    margin: 40% 0%;
  }

  .table6Cards {
    margin: 20% 9.61%;
  }

  .table10Cards {
    margin: 5% 9.61%;
  }

  .card{
    width: 70px;
    height: 109px;
  }

  .cover {
    background: url(images/cardMobile.png);
  }

  .bug {
    background: url(images/bugMobile.png);
  }

  .gameOver {
    background:url(images/gameOverMobile.png);
  }

  }

}
